<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>batch No.:-{{batch.bno}}</h3><br>
    <h3>batch max_strength:-{{batch.max_strength}}</h3><br>
    <h3>batch available_strength:-{{batch.available_strength}}</h3>
    <h3>batch start date:-{{batch.date_from}}</h3><br>
    <p><a href="/media/{{ file }}" download>{{Studymaterial.slug}}</a></p>
<form class="" action="/authlogout/" method="GET">
  <button type="submit" name="button">student_logout</button>

</form>

  </body>
</html>
